#bots{
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
   
}
.marker{
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
   display: none;
}
.gameBG {
  background-image: url("/assets/img/marsi.jpeg");
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
#img-robot {
  position: absolute;
}
