.BGhome {
  background-image: url(../../assets/img/marsi.jpeg);
  background-size: cover;
  height: 650px;
  color: white;
}

.cadreStart {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 60%;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10%;
  opacity: 0.8;
  justify-content: center;
}

.logo {
  width: 100px;
}

.btn {
  background-color: white;
  justify-content: center;
  margin: auto;
}

.nomjeu {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
